@model IEnumerable<TruyenChu.Data.Story>

<div class="row top-ratings">
    <div class="col-12 top-ratings__tab mb-2">
        <div class="list-group d-flex flex-row" id="list-tab" role="tablist">
            @* <a class="list-group-item list-group-item-action active" id="top-day-list" data-bs-toggle="list" href="https://suustore.com/truyen/nang-khong-muon-lam-hoang-hau#top-day" role="tab" aria-controls="top-day" aria-selected="true">Ngày</a>
            <a class="list-group-item list-group-item-action" id="top-month-list" data-bs-toggle="list" href="https://suustore.com/truyen/nang-khong-muon-lam-hoang-hau#top-month" role="tab" aria-controls="top-month" aria-selected="false" tabindex="-1">Tháng</a> *@
            <a class="list-group-item list-group-item-action" id="top-all-time-list" data-bs-toggle="list" href="https://suustore.com/truyen/nang-khong-muon-lam-hoang-hau#top-all-time" role="tab" aria-controls="top-all-time" aria-selected="false" tabindex="-1">
                All
                time
            </a>
        </div>
    </div>
    <div class="col-12 top-ratings__content">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="top-day" role="tabpanel" aria-labelledby="top-day-list">
                <ul>
                    @foreach (var item in Model.Select((value, index) => new { value, index }))
                    {
                        <li>
                            <div class="rating-item d-flex align-items-center">
                                <div class="rating-item__number bg-danger rounded-circle">
                                    <span class="text-light">@(item.index + 1)</span>
                                </div>
                                <div class="rating-item__story">
                                    <a asp-controller="Story" asp-action="Index" asp-route-id="@item.value.StoryId" class="text-decoration-none hover-title rating-item__story--name text-one-row">
                                        @item.value.StoryTitle
                                    </a>
                                    <div class="d-flex flex-wrap rating-item__story--categories">
                                        @foreach (var category in item.value.StoryCategories)
                                        {
                                            <a asp-controller="Category" asp-action="Index" asp-route-id="@category.Category.CategoryId" class="text-decoration-none text-dark hover-title  me-1 ">
                                            @category.Category.CategoryName
                                            ,
                                        </a> 
                                        }
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                    
                </ul>
            </div>

            @*  <div class="tab-pane fade" id="top-month" role="tabpanel" aria-labelledby="top-month-list">
            <ul>
            <li>
            <div class="rating-item d-flex align-items-center">
            <div class="rating-item__number bg-danger rounded-circle">
            <span class="text-light">1</span>
            </div>
            <div class="rating-item__story">
            <a href="https://suustore.com/truyen/linh-vu-thien-ha" class="text-decoration-none hover-title rating-item__story--name text-one-row">
            Linh
            Vũ Thiên Hạ
            </a>
            <div class="d-flex flex-wrap rating-item__story--categories">
            <a href="https://suustore.com/the-loai/tien-hiep" class="text-decoration-none text-dark hover-title  me-1 ">
            Tiên
            Hiệp
            ,
            </a>
            <a href="https://suustore.com/the-loai/di-gioi" class="text-decoration-none text-dark hover-title  me-1 ">
            Dị
            Giới
            ,
            </a>
            <a href="https://suustore.com/the-loai/huyen-huyen" class="text-decoration-none text-dark hover-title  me-1 ">
            Huyền
            Huyễn
            ,
            </a>
            <a href="https://suustore.com/the-loai/xuyen-khong" class="text-decoration-none text-dark hover-title ">
            Xuyên
            Không
            </a>
            </div>
            </div>
            </div>
            </li>
            <li>
            <div class="rating-item d-flex align-items-center">
            <div class="rating-item__number bg-success rounded-circle">
            <span class="text-light">2</span>
            </div>
            <div class="rating-item__story">
            <a href="https://suustore.com/truyen/than-dao-dan-ton" class="text-decoration-none hover-title rating-item__story--name text-one-row">
            Thần
            Đạo Đan Tôn
            </a>
            <div class="d-flex flex-wrap rating-item__story--categories">
            <a href="https://suustore.com/the-loai/tien-hiep" class="text-decoration-none text-dark hover-title  me-1 ">
            Tiên
            Hiệp
            ,
            </a>
            <a href="https://suustore.com/the-loai/huyen-huyen" class="text-decoration-none text-dark hover-title ">
            Huyền
            Huyễn
            </a>
            </div>
            </div>
            </div>
            </li>
            <li>
            <div class="rating-item d-flex align-items-center">
            <div class="rating-item__number bg-info rounded-circle">
            <span class="text-light">3</span>
            </div>
            <div class="rating-item__story">
            <a href="https://suustore.com/truyen/me-vo-khong-loi-ve" class="text-decoration-none hover-title rating-item__story--name text-one-row">
            Mê
            Vợ Không Lối Về
            </a>
            <div class="d-flex flex-wrap rating-item__story--categories">
            <a href="https://suustore.com/the-loai/ngon-tinh" class="text-decoration-none text-dark hover-title  me-1 ">
            Ngôn
            Tình
            ,
            </a>
            <a href="https://suustore.com/the-loai/nguoc" class="text-decoration-none text-dark hover-title  me-1 ">
            Ngược
            ,
            </a>
            <a href="https://suustore.com/the-loai/sung" class="text-decoration-none text-dark hover-title ">
            Sủng
            </a>
            </div>
            </div>
            </div>
            </li>
            <li>
            <div class="rating-item d-flex align-items-center">
            <div class="rating-item__number bg-light border rounded-circle">
            <span class="text-dark">4</span>
            </div>
            <div class="rating-item__story">
            <a href="https://suustore.com/truyen/dau-pha-thuong-khung" class="text-decoration-none hover-title rating-item__story--name text-one-row">
            Đấu
            Phá Thương Khung
            </a>
            <div class="d-flex flex-wrap rating-item__story--categories">
            <a href="https://suustore.com/the-loai/tien-hiep" class="text-decoration-none text-dark hover-title  me-1 ">
            Tiên
            Hiệp
            ,
            </a>
            <a href="https://suustore.com/the-loai/di-gioi" class="text-decoration-none text-dark hover-title  me-1 ">
            Dị
            Giới
            ,
            </a>
            <a href="https://suustore.com/the-loai/huyen-huyen" class="text-decoration-none text-dark hover-title ">
            Huyền
            Huyễn
            </a>
            </div>
            </div>
            </div>
            </li>
            <li>
            <div class="rating-item d-flex align-items-center">
            <div class="rating-item__number bg-light border rounded-circle">
            <span class="text-dark">5</span>
            </div>
            <div class="rating-item__story">
            <a href="https://suustore.com/truyen/the-gioi-hoan-my" class="text-decoration-none hover-title rating-item__story--name text-one-row">
            Thế
            Giới Hoàn Mỹ
            </a>
            <div class="d-flex flex-wrap rating-item__story--categories">
            <a href="https://suustore.com/the-loai/tien-hiep" class="text-decoration-none text-dark hover-title  me-1 ">
            Tiên
            Hiệp
            ,
            </a>
            <a href="https://suustore.com/the-loai/kiem-hiep" class="text-decoration-none text-dark hover-title  me-1 ">
            Kiếm
            Hiệp
            ,
            </a>
            <a href="https://suustore.com/the-loai/huyen-huyen" class="text-decoration-none text-dark hover-title ">
            Huyền
            Huyễn
            </a>
            </div>
            </div>
            </div>
            </li>
            <li>
            <div class="rating-item d-flex align-items-center">
            <div class="rating-item__number bg-light border rounded-circle">
            <span class="text-dark">6</span>
            </div>
            <div class="rating-item__story">
            <a href="https://suustore.com/truyen/co-vo-ngot-ngao-co-chut-bat-luong-vo-moi-bat-luong-co-chut-ngot" class="text-decoration-none hover-title rating-item__story--name text-one-row">
            Cô
            Vợ Ngọt Ngào Có Chút Bất Lương (Vợ Mới Bất Lương Có Chút
            Ngọt)
            </a>
            <div class="d-flex flex-wrap rating-item__story--categories">
            <a href="https://suustore.com/the-loai/ngon-tinh" class="text-decoration-none text-dark hover-title  me-1 ">
            Ngôn
            Tình
            ,
            </a>
            <a href="https://suustore.com/the-loai/trong-sinh" class="text-decoration-none text-dark hover-title  me-1 ">
            Trọng
            Sinh
            ,
            </a>
            <a href="https://suustore.com/the-loai/sung" class="text-decoration-none text-dark hover-title ">
            Sủng
            </a>
            </div>
            </div>
            </div>
            </li>
            <li>
            <div class="rating-item d-flex align-items-center">
            <div class="rating-item__number bg-light border rounded-circle">
            <span class="text-dark">7</span>
            </div>
            <div class="rating-item__story">
            <a href="https://suustore.com/truyen/pham-nhan-tu-tien" class="text-decoration-none hover-title rating-item__story--name text-one-row">
            Phàm
            Nhân Tu Tiên
            </a>
            <div class="d-flex flex-wrap rating-item__story--categories">
            <a href="https://suustore.com/the-loai/tien-hiep" class="text-decoration-none text-dark hover-title  me-1 ">
            Tiên
            Hiệp
            ,
            </a>
            <a href="https://suustore.com/the-loai/kiem-hiep" class="text-decoration-none text-dark hover-title ">
            Kiếm
            Hiệp
            </a>
            </div>
            </div>
            </div>
            </li>
            <li>
            <div class="rating-item d-flex align-items-center">
            <div class="rating-item__number bg-light border rounded-circle">
            <span class="text-dark">8</span>
            </div>
            <div class="rating-item__story">
            <a href="https://suustore.com/truyen/nhat-niem-vinh-hang" class="text-decoration-none hover-title rating-item__story--name text-one-row">
            Nhất
            Niệm Vĩnh Hằng
            </a>
            <div class="d-flex flex-wrap rating-item__story--categories">
            <a href="https://suustore.com/the-loai/tien-hiep" class="text-decoration-none text-dark hover-title  me-1 ">
            Tiên
            Hiệp
            ,
            </a>
            <a href="https://suustore.com/the-loai/huyen-huyen" class="text-decoration-none text-dark hover-title ">
            Huyền
            Huyễn
            </a>
            </div>
            </div>
            </div>
            </li>
            <li>
            <div class="rating-item d-flex align-items-center">
            <div class="rating-item__number bg-light border rounded-circle">
            <span class="text-dark">9</span>
            </div>
            <div class="rating-item__story">
            <a href="https://suustore.com/truyen/de-ba" class="text-decoration-none hover-title rating-item__story--name text-one-row">
            Đế
            Bá
            </a>
            <div class="d-flex flex-wrap rating-item__story--categories">
            <a href="https://suustore.com/the-loai/huyen-huyen" class="text-decoration-none text-dark hover-title ">
            Huyền
            Huyễn
            </a>
            </div>
            </div>
            </div>
            </li>
            <li>
            <div class="rating-item d-flex align-items-center">
            <div class="rating-item__number bg-light border rounded-circle">
            <span class="text-dark">10</span>
            </div>
            <div class="rating-item__story">
            <a href="https://suustore.com/truyen/re-quy-troi-cho" class="text-decoration-none hover-title rating-item__story--name text-one-row">
            Rể
            Quý Trời Cho
            </a>
            <div class="d-flex flex-wrap rating-item__story--categories">
            <a href="https://suustore.com/the-loai/ngon-tinh" class="text-decoration-none text-dark hover-title  me-1 ">
            Ngôn
            Tình
            ,
            </a>
            <a href="https://suustore.com/the-loai/do-thi" class="text-decoration-none text-dark hover-title ">
            Đô Thị
            </a>
            </div>
            </div>
            </div>
            </li>
            </ul>
            </div>

            <div class="tab-pane fade" id="top-all-time" role="tabpanel" aria-labelledby="top-all-time-list">
            <ul>
            <li>
            <div class="rating-item d-flex align-items-center">
            <div class="rating-item__number bg-danger rounded-circle">
            <span class="text-light">1</span>
            </div>
            <div class="rating-item__story">
            <a href="https://suustore.com/truyen/linh-vu-thien-ha" class="text-decoration-none hover-title rating-item__story--name text-one-row">
            Linh
            Vũ Thiên Hạ
            </a>
            <div class="d-flex flex-wrap rating-item__story--categories">
            <a href="https://suustore.com/the-loai/tien-hiep" class="text-decoration-none text-dark hover-title  me-1 ">
            Tiên
            Hiệp
            ,
            </a>
            <a href="https://suustore.com/the-loai/di-gioi" class="text-decoration-none text-dark hover-title  me-1 ">
            Dị
            Giới
            ,
            </a>
            <a href="https://suustore.com/the-loai/huyen-huyen" class="text-decoration-none text-dark hover-title  me-1 ">
            Huyền
            Huyễn
            ,
            </a>
            <a href="https://suustore.com/the-loai/xuyen-khong" class="text-decoration-none text-dark hover-title ">
            Xuyên
            Không
            </a>
            </div>
            </div>
            </div>
            </li>
            <li>
            <div class="rating-item d-flex align-items-center">
            <div class="rating-item__number bg-success rounded-circle">
            <span class="text-light">2</span>
            </div>
            <div class="rating-item__story">
            <a href="https://suustore.com/truyen/than-dao-dan-ton" class="text-decoration-none hover-title rating-item__story--name text-one-row">
            Thần
            Đạo Đan Tôn
            </a>
            <div class="d-flex flex-wrap rating-item__story--categories">
            <a href="https://suustore.com/the-loai/tien-hiep" class="text-decoration-none text-dark hover-title  me-1 ">
            Tiên
            Hiệp
            ,
            </a>
            <a href="https://suustore.com/the-loai/huyen-huyen" class="text-decoration-none text-dark hover-title ">
            Huyền
            Huyễn
            </a>
            </div>
            </div>
            </div>
            </li>
            <li>
            <div class="rating-item d-flex align-items-center">
            <div class="rating-item__number bg-info rounded-circle">
            <span class="text-light">3</span>
            </div>
            <div class="rating-item__story">
            <a href="https://suustore.com/truyen/dau-pha-thuong-khung" class="text-decoration-none hover-title rating-item__story--name text-one-row">
            Đấu
            Phá Thương Khung
            </a>
            <div class="d-flex flex-wrap rating-item__story--categories">
            <a href="https://suustore.com/the-loai/tien-hiep" class="text-decoration-none text-dark hover-title  me-1 ">
            Tiên
            Hiệp
            ,
            </a>
            <a href="https://suustore.com/the-loai/di-gioi" class="text-decoration-none text-dark hover-title  me-1 ">
            Dị
            Giới
            ,
            </a>
            <a href="https://suustore.com/the-loai/huyen-huyen" class="text-decoration-none text-dark hover-title ">
            Huyền
            Huyễn
            </a>
            </div>
            </div>
            </div>
            </li>
            <li>
            <div class="rating-item d-flex align-items-center">
            <div class="rating-item__number bg-light border rounded-circle">
            <span class="text-dark">4</span>
            </div>
            <div class="rating-item__story">
            <a href="https://suustore.com/truyen/co-vo-ngot-ngao-co-chut-bat-luong-vo-moi-bat-luong-co-chut-ngot" class="text-decoration-none hover-title rating-item__story--name text-one-row">
            Cô
            Vợ Ngọt Ngào Có Chút Bất Lương (Vợ Mới Bất Lương Có Chút
            Ngọt)
            </a>
            <div class="d-flex flex-wrap rating-item__story--categories">
            <a href="https://suustore.com/the-loai/ngon-tinh" class="text-decoration-none text-dark hover-title  me-1 ">
            Ngôn
            Tình
            ,
            </a>
            <a href="https://suustore.com/the-loai/trong-sinh" class="text-decoration-none text-dark hover-title  me-1 ">
            Trọng
            Sinh
            ,
            </a>
            <a href="https://suustore.com/the-loai/sung" class="text-decoration-none text-dark hover-title ">
            Sủng
            </a>
            </div>
            </div>
            </div>
            </li>
            <li>
            <div class="rating-item d-flex align-items-center">
            <div class="rating-item__number bg-light border rounded-circle">
            <span class="text-dark">5</span>
            </div>
            <div class="rating-item__story">
            <a href="https://suustore.com/truyen/pham-nhan-tu-tien" class="text-decoration-none hover-title rating-item__story--name text-one-row">
            Phàm
            Nhân Tu Tiên
            </a>
            <div class="d-flex flex-wrap rating-item__story--categories">
            <a href="https://suustore.com/the-loai/tien-hiep" class="text-decoration-none text-dark hover-title  me-1 ">
            Tiên
            Hiệp
            ,
            </a>
            <a href="https://suustore.com/the-loai/kiem-hiep" class="text-decoration-none text-dark hover-title ">
            Kiếm
            Hiệp
            </a>
            </div>
            </div>
            </div>
            </li>
            <li>
            <div class="rating-item d-flex align-items-center">
            <div class="rating-item__number bg-light border rounded-circle">
            <span class="text-dark">6</span>
            </div>
            <div class="rating-item__story">
            <a href="https://suustore.com/truyen/nhat-niem-vinh-hang" class="text-decoration-none hover-title rating-item__story--name text-one-row">
            Nhất
            Niệm Vĩnh Hằng
            </a>
            <div class="d-flex flex-wrap rating-item__story--categories">
            <a href="https://suustore.com/the-loai/tien-hiep" class="text-decoration-none text-dark hover-title  me-1 ">
            Tiên
            Hiệp
            ,
            </a>
            <a href="https://suustore.com/the-loai/huyen-huyen" class="text-decoration-none text-dark hover-title ">
            Huyền
            Huyễn
            </a>
            </div>
            </div>
            </div>
            </li>
            <li>
            <div class="rating-item d-flex align-items-center">
            <div class="rating-item__number bg-light border rounded-circle">
            <span class="text-dark">7</span>
            </div>
            <div class="rating-item__story">
            <a href="https://suustore.com/truyen/de-ba" class="text-decoration-none hover-title rating-item__story--name text-one-row">
            Đế
            Bá
            </a>
            <div class="d-flex flex-wrap rating-item__story--categories">
            <a href="https://suustore.com/the-loai/huyen-huyen" class="text-decoration-none text-dark hover-title ">
            Huyền
            Huyễn
            </a>
            </div>
            </div>
            </div>
            </li>
            <li>
            <div class="rating-item d-flex align-items-center">
            <div class="rating-item__number bg-light border rounded-circle">
            <span class="text-dark">8</span>
            </div>
            <div class="rating-item__story">
            <a href="https://suustore.com/truyen/vu-dong-can-khon" class="text-decoration-none hover-title rating-item__story--name text-one-row">
            Vũ
            Động Càn Khôn
            </a>
            <div class="d-flex flex-wrap rating-item__story--categories">
            <a href="https://suustore.com/the-loai/tien-hiep" class="text-decoration-none text-dark hover-title  me-1 ">
            Tiên
            Hiệp
            ,
            </a>
            <a href="https://suustore.com/the-loai/huyen-huyen" class="text-decoration-none text-dark hover-title ">
            Huyền
            Huyễn
            </a>
            </div>
            </div>
            </div>
            </li>
            <li>
            <div class="rating-item d-flex align-items-center">
            <div class="rating-item__number bg-light border rounded-circle">
            <span class="text-dark">9</span>
            </div>
            <div class="rating-item__story">
            <a href="https://suustore.com/truyen/doc-ton-tam-gioi" class="text-decoration-none hover-title rating-item__story--name text-one-row">
            Độc
            Tôn Tam Giới
            </a>
            <div class="d-flex flex-wrap rating-item__story--categories">
            <a href="https://suustore.com/the-loai/tien-hiep" class="text-decoration-none text-dark hover-title  me-1 ">
            Tiên
            Hiệp
            ,
            </a>
            <a href="https://suustore.com/the-loai/huyen-huyen" class="text-decoration-none text-dark hover-title ">
            Huyền
            Huyễn
            </a>
            </div>
            </div>
            </div>
            </li>
            </ul>
            </div> *@
        </div>
    </div>
</div>